* {
  font-family: "Nunito", sans-serif;
}

body {
  text-align: center;
  background-color: rgb(224, 215, 215);
}

nav > * {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  border-bottom: 1px solid rgb(163, 158, 158);
  background-color: white;
}

.allLevels {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-top: 6rem;
  margin-bottom: 5rem;
  padding: 0;
}

.hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
  margin: 0;
  padding: 0;
}

.beachSmall > img,
.snowSmall > img,
.spaceSmall > img,
.trackSmall > img {
  height: 16rem;
  width: 20rem;
  outline: 1px solid black;
  transition: all 0.1s ease-in-out;
}

.beachSmall > img:hover,
.snowSmall > img:hover,
.spaceSmall > img:hover,
.trackSmall > img:hover,
.leaderboardBeach > img:hover,
.leaderboardSnow > img:hover,
.leaderboardSpace > img:hover,
.leaderboardTrack > img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.beachBig > img,
.snowBig > img,
.trackBig > img,
.spaceBig > img {
  width: 90rem;
  overflow: scroll;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  justify-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 5;
}
.waldoImageAndName > img,
.odlawImageAndName > img,
.whitebeardImageAndName > img {
  height: 5rem;
  width: 5rem;
}

.characterContainer {
  display: flex;
  justify-content: space-between;
  width: 20rem;
}

.popup {
  position: absolute;
  color: white;
  border: solid 1px #ddd;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 10%;
  border-radius: 15px;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.singlePopup {
  position: absolute;
  color: white;
  border: solid 1px #ddd;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 6rem;
  border-radius: 15px;
  height: 5rem;
}

.waldoText,
.odlawText,
.whitebeardText {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waldoText:hover,
.odlawText:hover,
.whitebeardText:hover {
  background-color: rgb(34, 34, 34, 0.6);
  cursor: pointer;
  border-radius: 15px;
}

.circle {
  position: absolute;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  transition: all 300ms ease-out;
}

/* .correctNotification,
.wrongNotification {
  position: fixed;
  left: 40rem;
  top: 10rem;
  width: 8rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
} */
/* .correctNotification {
  color: rgb(65, 206, 60);
  border: 2px solid rgb(65, 206, 60);
  background-color: rgb(109, 109, 109);
  font-weight: 700;
}

.wrongNotification {
  color: rgb(204, 40, 40);
  border: 2px solid rgb(204, 40, 40);
  background-color: rgb(180, 175, 175);
  font-weight: 700;
} */

.greyOut {
  filter: grayscale(100%);
}
/* .introText {

position: absolute;
top: 15rem;
left: 31rem;
  z-index: 4;
  font-weight: 600;
  font-size: 2rem;
} */

.introAndButton {
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  margin-top: 7rem;
  text-align: center;
}
/* .startTimerButton {
  position: absolute;
  top: 20rem;
  left: 41rem;
  z-index: 4;
} */

.winnerModal {
  z-index: 4;
  font-weight: 600;
  font-size: 2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.5;
}

.timer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 13rem;
}

.returnHome,
.startTimerButton,
.submitScoreButton,
.tryAgain {
  border: none;
  background-color: rgb(228, 53, 53);
  height: 2rem;
  width: 7rem;
  border-radius: 10px;
  border: 1px solid rgb(14, 13, 13);
  color: white;
}
.leaderboardButton {
  border: none;
  background-color: rgb(228, 53, 53);
  height: 2rem;
  width: 10rem;
  border-radius: 10px;
  border: 1px solid rgb(14, 13, 13);
  color: white;
  margin-bottom: 2rem;
}

button:hover {
  cursor: pointer;
  background-color: rgb(248, 97, 97);
}

.winnerModal {
  height: 15rem;
}
.fitScreen {
  overflow: hidden;
  height: 45rem;
}

.winnerNameInput {
  height: 20rem;
}

.winnerModal,
.winnerNameInput {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.leaderboardDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
}

.leaderboardBeach > img,
.leaderboardSnow > img,
.leaderboardSpace > img,
.leaderboardTrack > img {
  width: 18rem;
  height: 15rem;
  outline: 1px solid black;
  transition: all 0.1s ease-in-out;
}

.boardTitles {
  border: 1px solid black;
  background-color: rgb(160, 152, 152);
}

.nameAndTime,
.boardTitles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgb(94, 92, 92);
  align-items: center;
  height: 3rem;
  width: 100%;
  justify-items: start;
  padding-left: 7rem;
}

.leaderboardNameTitle,
.leaderboardTimeTitle {
  font-weight: 700;
}
.leaderboardTimeTitle {
  padding-left: 2rem;
}
.logoWhere {
  color: rgb(51, 113, 247);
  font-size: 3rem;
  font-weight: 700;
}

.logoWaldo {
  color: rgb(233, 75, 75);
  font-size: 3rem;
  font-weight: 700;
}

.leaderboardNav {
  display: grid;
  grid-template-columns: 1.3fr 2.3fr;
  justify-items: start;
  align-items: center;
}

.nameLogo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 25rem;
}

.returnHome {
  margin-left: 5rem;
}

.logo {
  height: 7rem;
  width: 8rem;
}
.homeNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 0 0 30px #050505;
}

.hidden {
  box-shadow: none;
}

.winnerTime {
  display: flex;
  justify-content: space-around;
  width: 42rem;
}

.addBeachScore,
.addSnowScore,
.addSpaceScore {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  width: 30rem;
  align-items: center;
}

.addBeachScore > input,
.addSnowScore > input,
.addSpaceScore > input,
.addTrackScore > input {
  height: 1rem;
  margin-right: 2rem;
}

input:focus {
  outline: none;
}

.tryAgainAndLeaderboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 20rem;
  align-items: center;
}
.tryAgainAndLeaderboard > a {
  margin-top: 1.2rem;
}

.homepageInstructions {
  margin-top: 4rem;
  font-size: 2rem;
}

.level {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

@media (max-width: 1200px) {
  .leaderboardBeach > img,
  .leaderboardSnow > img,
  .leaderboardSpace > img,
  .leaderboardTrack > img {
    height: 10rem;
    width: 10rem;
  }
}

@media (max-width: 900px) {
  .spaceSmall > img,
  .beachSmall > img,
  .snowSmall > img,
  .trackSmall > img {
    height: 15rem;
    width: 21rem;
  }
  .level {
    font-size: 1rem;
    margin-top: 0.6rem;
    margin-bottom: 2rem;
  }
  .logo {
    height: 4rem;
    width: 4rem;
  }
  .logoWaldo,
  .logoWhere {
    font-size: 1.7rem;
  }
  .leaderboardNav > .nameLogo > .logoWhere,
  .leaderboardNav > .nameLogo > .logoWaldo {
    font-size: 1.1rem;
  }
  .leaderboardNav {
    grid-template-columns: 1fr 2.5fr;
  }

  .leaderboardNav > .nameLogo {
    column-gap: 0;
    width: 13rem;
  }

  .startTimerButton {
    height: 1.5rem;
    width: 3.5rem;
    font-size: 0.6rem;
  }
  .returnHome {
    height: 2rem;
    width: 4rem;
    font-size: 0.6rem;
    margin-left: 0.2rem;
  }
  .nameLogo {
    width: 15rem;
  }
  .leaderboardBeach > img,
  .leaderboardSnow > img,
  .leaderboardSpace > img,
  .leaderboardTrack > img {
    height: 6rem;
    width: 6rem;
  }
  .leaderboardDisplay {
    padding-left: 0;
  }

  .waldoImageAndName > img,
  .odlawImageAndName > img,
  .whitebeardImageAndName > img {
    height: 2rem;
    width: 2rem;
  }

  .characterContainer {
    justify-content: space-around;
    width: 10rem;
  }
  .timer {
    width: 5rem;
    font-size: 0.7rem;
  }
  .waldoImageAndName > div,
  .odlawImageAndName > div,
  .whitebeardImageAndName > div {
    font-size: 0.7rem;
  }

  .introAndButton {
    margin-top: 4rem;
    height: 4rem;
  }
  .winnerTime > span {
    font-size: 1rem;
  }

  .winnerTime {
    width: 21rem;
    margin-bottom: 0.8rem;
  }
  .winnerModal {
    height: 14rem;
    margin-top: 10rem;
  }
  .popup {
    font-size: 0.7rem;
    width: 5rem;
  }
  .boardTitles {
    padding-left: 1rem;
  }
  .nameAndTime {
    padding-left: 1rem;
  }
  .leaderboardDisplay {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }
}
